{erl_opts, [debug_info]}.

{deps,
 [
  cowboy,
  epgsql,
  gun,
  iso8601,
  jsx,
  prometheus,
  prometheus_cowboy,
  proper,
  recon,
  uuid_erl,
  {graphql, {git, "https://github.com/shopgun/graphql-erlang.git", {ref, "fc76a2d"}}},
  {mnesia_rocksdb, {git, "https://github.com/aeternity/mnesia_rocksdb.git", {ref, "ad8e7b6"}}},
  {urilib, {git, "https://github.com/shopgun/urilib.git", {ref, "2b93c1e"}}}
 ]}.

{plugins, [
            rebar3_proper
          ]}.

{relx, [{release, {factdb, {semver, "v"}},
         [
          factdb,
          sasl
         ]},
        {extended_start_script, true}]
}.

{profiles, [
            {local, [
                     {relx, [
                             {dev_mode, true},
                             {include_erts, true},
                             {sys_config, "./config/local.config"},
                             {vm_args, "./config/vm.args"}
                            ]}
                    ]}
            ]
}.

{shell, [
          {apps,
           [
            sasl,
            factdb
           ]}
        ]}.


{ct_opts, [
            {sys_config, ["./config/test.config"]}
          ]}.
